/* Cibler les titres des onglets dans le TabView */



::ng-deep a {
    color: #c7206e    ;
    text-decoration: underline;
}

::ng-depp .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #c7206e !important;
    color: #c7206e !important;
}

.title {
    /* font-size: calc(1.375rem + 1.5vw); */
    font-size: 31px;
}