<div class="top-bar">
    <p-dropdown 
    [options]="statuses" 
    [(ngModel)]="selectedStatus"
    optionLabel="label"
    [filter]="true" 
    filterBy="label"
    [showClear]="true"
    placeholder="Sélectionner un statut" 
    styleClass="w-20rem">
    <ng-template pTemplate="filter" let-options="options">
        <div class="flex gap-1">
            <div class="p-inputgroup" (click)="$event.stopPropagation()">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input 
                    type="text"
                    pInputText
                    placeholder="Filter" 
                    [(ngModel)]="filterValue"
                    (keyup)="customFilterFunction($event, options)" />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.label }}</div>
        </div>
    </ng-template>
    <ng-template let-status pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ status.label }}</div>
        </div>
    </ng-template>
    </p-dropdown>

    <div class="filters">
        <div class="p-inputgroup">
           
            <input 
                type="text"
                pInputText
                placeholder="Nom" 
                [(ngModel)]="filterNom"
                />
        </div>
     
        <div class="p-inputgroup">
         
            <input 
                type="text"
                pInputText
                placeholder="Prénom" 
                [(ngModel)]="filterPrenom"
                 />
        </div>
        <div class="p-inputgroup">
          
            <input 
                type="text"
                pInputText
                placeholder="Téléphone" 
                [(ngModel)]="filterTelephone"
                 />
        </div>
        <div class="p-inputgroup">
            
            <input 
                type="text"
                pInputText
                placeholder="Email" 
                [(ngModel)]="filterEmail"
                 />
        </div>
    </div>
    <button pButton type="button" label="Effacer tout" icon="pi pi-filter-slash" (click)="clearAllFilters()" class="p-button-danger"></button>

        <!-- Nouveau bouton PrimeNG -->
        <button pButton type="button" label="Ajouter" icon="pi pi-plus" (click)="showAddDialog()"></button>
            <!-- Dropdown pour filtrer les statuts -->

      
        <!-- Autres éléments -->
</div>

  <!-- Filtres -->


<p-table #dt [value]="fUsers()" [customSort]="true" (sortFunction)="customSort($event)" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">
                Id <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="fullName">
                Nom et Prénom<p-sortIcon field="fullName"></p-sortIcon>
            </th>
            <th pSortableColumn="adresse">
                Adresse physique <p-sortIcon field="adresse"></p-sortIcon>
            </th>
            <th pSortableColumn="telephone">
                Numéro de téléphone <p-sortIcon field="telephone"></p-sortIcon>
            </th>
            <th pSortableColumn="instagram">
                Lien vers page instagram <p-sortIcon field="instagram"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
                Email <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th pSortableColumn="statut">
                Statut <p-sortIcon field="statut"></p-sortIcon>
            </th>   
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }} </td> 
            <td>{{ user.adresse ? user.adresse : '-'}} {{user.street ? user.street: '-'}} {{user.city ? user.city: '-' }}  {{user.post_code ? user.post_code: '-'}}</td>
            <td>{{ user.phone }}</td>
            <td><a [href]="user.instagram" target="_blank">{{ user.acountLink ?  user.acountLink: '-'}}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ getStatutLabel(user.status) }}</td>
       
        
        <td>
                <span class="pi pi-trash" (click)="onDelete(user.id)" title="Supprimer"></span>
                <span class="pi pi-pen-to-square" (click)="onEdit(user.id)" title="Éditer"></span>
                <span class="pi pi-key" (click)="onChangePassword(user.id)" title="Changer le mot de passe"></span>
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Changer le mot de passe" [(visible)]="passwordChangeDialogVisible" modal="modal" width="300px">
    <div class="p-fluid">
      <div class="p-field">
        <label for="newPassword">Nouveau mot de passe</label>
        <input id="newPassword" type="password" [(ngModel)]="newPassword" pInputText />
      </div>
      <div class="p-field">
        <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
        <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword" pInputText />
      </div>
      <p-footer>
        <button type="button" pButton label="Annuler" icon="pi pi-times" (click)="cancelChangePassword()"></button>
        <button type="button" pButton label="Enregistrer" icon="pi pi-check" (click)="changePassword()"></button>
      </p-footer>
    </div>
  </p-dialog>
  
<p-dialog header="Confirmation" [(visible)]="deleteDialogVisible" modal="true" [closable]="false">
    <p>Voulez-vous vraiment supprimer cet instagrammeur ?</p>
    <p-footer>
      <button type="button" pButton label="Confirmer" icon="pi pi-check" (click)="confirmDelete()"></button>
      <button type="button" pButton label="Annuler" icon="pi pi-times" (click)="cancelDelete()"></button>
    </p-footer> 
  </p-dialog>
<!-- Dialog d'édition -->
<div>
    
  
<p-dialog header="Modifier les informations de l'instagrammeur" [(visible)]="editDialogVisible" modal="true" [closable]="false">
    <div class="p-fluid">
        <div class="p-field">
            <label for="id">ID</label>
            <input id="id" type="text" [(ngModel)]="selectedUser.id" disabled/>
        </div>
        <div class="p-field">
            <label for="nom">Nom</label>
            <input id="nom" type="text" [(ngModel)]="selectedUser.name"/>
        </div>
       
        <div class="p-field">
            <label for="adresse">Adresse</label>
            <input id="adresse" type="text" [(ngModel)]="selectedUser.adresse"/>
        </div>
        <div class="p-field">
            <label for="telephone">Téléphone</label>
            <input id="telephone" type="text" [(ngModel)]="selectedUser.phone"/>
        </div>
        <div class="p-field">
            <label for="instagram">Lien instagram</label>
            <input id="instagram" type="text" [(ngModel)]="selectedUser.acountLink"/>
        </div>
        <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="text" [(ngModel)]="selectedUser.email"/>
        </div>
        <div class="p-field">
            <label for="password">Mot de passe</label>
            <input id="password" type="text" [(ngModel)]="selectedUser.password"/>
        </div>
    </div>
    <p-footer>
      <button type="button" pButton label="Enregistrer" icon="pi pi-check" (click)="saveEdit()"></button>
      <button type="button" pButton label="Annuler" icon="pi pi-times" (click)="cancelEdit()"></button>
    </p-footer>
</p-dialog>


<p-dialog header="Ajouter un Instagrammeur" [(visible)]="addDialogVisible" modal="true" [closable]="false">
    <div class="p-fluid">
        <!-- Champ pour l'image -->
        <div class="p-field">
            <label for="image">Image</label>
            <!-- <input id="image" type="text" [(ngModel)]="newUser.image" placeholder="URL de l'image"/> -->
            <img *ngIf="newUser?.image" class="image_container" [src]="newUser?.image">
            <input type="file"  id="image" (change)="onFileChange($event)" accept="image/*" style="display:none;" />

            <div class="upload_file" (click)="triggerFileInput()" ></div>

        </div>

        <!-- Champ pour le nom -->
        <div class="p-field">
            <label for="nom">Nom</label>
            <input id="nom" type="text" [(ngModel)]="newUser.name"/>
        </div>

        <!-- Champ pour le prénom -->
        <div class="p-field">
            <label for="prenom">Prénom</label>
            <input id="prenom" type="text" [(ngModel)]="newUser.prenom"/>
        </div>

        <!-- Champ pour l'adresse -->
        <div class="p-field">
            <label for="adresse">Adresse</label>
            <input id="adresse" type="text" [(ngModel)]="newUser.adresse"/>
        </div>

        <!-- Champ pour le téléphone -->
        <div class="p-field">
            <label for="telephone">Téléphone</label>
            <input id="telephone" type="text" [(ngModel)]="newUser.phone"/>
        </div>

        <!-- Champ pour le lien Instagram -->
        <div class="p-field">
            <label for="instagram">Instagram</label>
            <input id="instagram" type="text" [(ngModel)]="newUser.acountLink"/>
        </div>

        <!-- Champ pour l'email -->
        <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="email" [(ngModel)]="newUser.email"/>
        </div>

        <!-- Champ pour le mot de passe -->
        <div class="p-field">
            <label for="motdepasse">Mot de Passe</label>
            <input id="motdepasse" type="password" [(ngModel)]="newUser.password"/>
            <button type="button" pButton label="Générer le mot de passe" icon="pi pi-key" (click)="generatePassword()"></button>
        </div>

        <!-- Champ pour la confirmation du mot de passe -->
        <div class="p-field">
            <label for="motdepasseConfirmation">Confirmation du Mot de Passe</label>
            <input id="motdepasseConfirmation" type="password" [(ngModel)]="newUser.motdepasseConfirmation"/>
        </div>

        <!-- Boutons Ajouter et Annuler -->
        <div class="btn-group">
            <button type="button" pButton label="Ajouter" icon="pi pi-check" (click)="addUser()"></button>
            <button type="button" pButton label="Annuler" icon="pi pi-times" class="p-button-secondary" (click)="cancelAdd()"></button>
        </div>
    </div>
</p-dialog>

